*{
    margin: 0;
    padding: 0;
}


.LeaderboardForm
{
    height: 500px;
    width: 300px;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
    background: #fff;
    padding: 20px;
    margin: 8% auto 0;
    text-align:center;
}
.LeaderboardForm label {
    display: inline-block;
    width: 150px;
}
.sign-up-form h1
{
    color: #1c8adb;
    margin-bottom: 30px;
}
.input-box
{
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    border: 1px solid #999;
    outline: none;
}
.CollectionForm label{
    display: inline-block;
    text-align: right;
	float: left;
}
button{
    color: #fff;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    margin: 10px 0;
    border: none;
    outline: none;
    cursor: pointer;
}
.signup-btn{
    background-color: #1c8adb;
    margin-bottom: 2mm;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    border: none;
    outline: none;
    cursor: pointer;
}
a
{
    text-decoration: none;
}
hr
{
    margin-top: 20px;
    width: 100%;
}
.or
{
    background: #fff;
    width: 30px;
    margin: -10px auto 10px;

}
img
{
    width: 70px;

}
.nav-area {
    float: right;
    list-style: none;
    margin-top: 30px;
    font-style: bold;
    background: #000
}
.nav-area li{
    display: inline-block;
}
.nav-area li a {
	color: #fff;
	text-decoration: none;
	padding: 5px 20px;
	font-family: poppins;
	font-size: 16px;
	text-transform: uppercase;
}
.nav-area li a:hover {
	background: #fff;
	color: #333;
}